<h1>Modelos de Produtos</h1>
<section id='product_models'>
<div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
</div>
<% if @product_models.present?%>
<% @product_models.each do | p | %>

<h3><%= link_to p.name, product_model_path(p.id) %></h3>
<dl>
<dt><%= p.sku %>
<dt><%= p.supplier.brand_name %></dt>
</dl>
<div>

</div>

<% end %>
<% else %>
<p>Não existem modelos de produtos cadastrados</p>
<% end%>
</section>