

<section id='warehouses'>
<h2>Galpões</h2>
<% if @warehouse.present?%>
<% @warehouse.each do | w | %>

<h3><%= link_to w.name, warehouse_path(w.id) %></h3>
<dl>
<dt>Código: <%= w.code %></dt>
<dt>Cidade: <%= w.city %></dt>
<dt>Área: <%= number_with_delimiter(w.area, :delimiter => '.') %> m²</dt>
</dl>

<% end %>
<% else %>
<p>Não existem galpões cadastrados</p>
<% end%>
</section>